In [1]:
#String literals
var1 = "Hi I'm Arun Balji"
var2 = "How are you ? "
print(var1)
print(var2)

Hi I'm Arun Balji
How are you ?

In [3]:
#Special Literal None
valueNone = None;
print(valueNone)

None

In [4]:
#String litetral
text1 = 'hello\
world'
print(text1)

helloworld

In [5]:
#Multiline
desc = '''I\'m a CSE Undergrad
Studying in KLN College of Engineering'''
print(desc)

I'm a CSE Undergrad
Studying in KLN College of Engineering

In [6]:
#Arithmetic Operators
print(10+2)
print(10-2)
print(10*2)
print(10/2)
print(10**2)

12
8
20
5.0
100

In [11]:
#Assignment Operators
#=,+=,*=,/=..
a=20
b=10
b+=a
a*=a
print(a,b)

400 30

In [12]:
#Comparison Operator
print(5>9)
print(10<20)
print(23=='23')
print('arun'=='arun')

False
True
False
True

In [13]:
#Logical Operator AND OR NOT
a,b=10,2
ans = a>2 and b>1
print(ans)

True

In [14]:
#Bitwise Operator
print(4&2)
print(2|1)

0
3

In [18]:
#Identity Operator
x = 10
y = 10
print(x is y)
print(y is not 20)
print(2 is x)

True
True
False

In [20]:
#Member Ship Operator
chars = ['arun','vijay','balaji']
print('arun' in chars)
print('ajay' in chars)

True
False

In [22]:
#DataTypes in python
message = "it is a string"
floating = 123.442
integer = 2323
complexx = 12+2j

print(type(message))
print(type(floating))
print(type(integer))
print(type(complexx))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [24]:
#String Operations
#Slicing
str1 = "This is string"
print(str1[2])
print(str1[0:5])
print(str1[-1])  
print((str1[5:-1]))

i
This
g
is strin

In [26]:
print(str1.find('this'))
print(str1.find('This'))

-1
0

In [28]:
#replace()

str1.replace("string","Sentence")

'This is Sentence'

In [30]:
#Split()
ans = str1.split(' ')
ans

['This', 'is', 'string']

In [44]:
#LIst 
#list is mutable
a = [1,2,3,4,5]
b=["a","b","c"]
print(a)
print(b)
a.append(6)
b.append(8)
print(a)
print(b)
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 8]
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 8]

In [34]:
#Tuple

myTuple = ('a','b','c','d')
print(myTuple)
#it is immutable
# myTuple[2] = "2" it gives error

('a', 'b', 'c', 'd')

In [35]:
myTuple[1]

'b'

In [37]:
myTuple[1:4]

('b', 'c', 'd')

In [40]:
#Dictionary-key value pairs
myDict = {
    1: 'Arun',
    2: 'Vijay',
    3: 'Gokul',
    4: 'Balaji'
    
}
myDict

{1: 'Arun', 2: 'Vijay', 3: 'Gokul', 4: 'Balaji'}

In [41]:
myDict[3]

'Gokul'

In [45]:
myDict.keys()

dict_keys([1, 2, 3, 4])

In [46]:
myDict.values()

dict_values(['Arun', 'Vijay', 'Gokul', 'Balaji'])

In [47]:
#Set 
mySet = {1,2,3,1,2,3,1,2,3,3,3,3,4,4,5,6,7,7}

print(mySet)

{1, 2, 3, 4, 5, 6, 7}

In [48]:
#pipe to merge sets (Union)
set1={1,2,4,'a','b','c'}
set2={'a','c',3,4}
set1|set2

{1, 2, 3, 4, 'a', 'b', 'c'}

In [49]:
#& intersefction
set1&set2

{4, 'a', 'c'}

In [50]:
#difference
set1-set2

{1, 2, 'b'}

In [51]:
#Control flow
age=18
if(age==18):
    print('Your age is 18')
elif(age>18):
    print('Your eligible for vote')
else:
    print('your children')

Your age is 18

In [52]:
#for loop
birds = ['peacok','pigeon','crow','parrot','squirrel']
for _ in birds:
    print(_)

peacok
pigeon
crow
parrot
squirrel

In [60]:
for i in range(1,11):
    if(i%2==0):
        print(str(i)+": Even")
    else:
        print(str(i)+": Odd")

1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even

In [61]:
for i in range(1,11):
    if(i%2==0):
        print(str(i)+": Even")
    else:
        print(str(i)+": Odd")

1: Odd
2: Even
3: Odd
4: Even
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even

In [62]:
#Functions in Python
def welcome():
    print("Welcome")
welcome()

Welcome

5

In [65]:
def set_list(list):
    list = ["A", "B", "C"]
    return list
  
def add(list):
    list.append("D")
    return list
  
my_list = ["E"]
  
print(set_list(my_list))
  
print(add(my_list))

['A', 'B', 'C']
['E', 'D']

In [66]:
x = lambda a,b: a*b
x(2,4)

8